<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" href="{% url 'simpleofferts:index' %}">All Offers</a>
                <a class="navbar-brand" href="{% url 'simpleofferts:create-offert' %}">Add Offer</a>
                <a class="navbar-brand" href="{% url 'simpleofferts:stats' %}">Statistics</a>
                {% if request.user.is_authenticated %}
                    {% if request.user.is_superuser %}
                         <a class="navbar-brand" href="{% url 'simpleofferts:pending' %}">Pending Offerts</a>
                    {% endif %}
                    <a class="navbar-brand" href="{% url 'users:logout' %}">Logout</a>
                {% else %}
                    <a class="navbar-brand" href="{% url 'users:login' %}">Login</a>
                    <a class="navbar-brand" href="{% url 'users:register' %}">Register</a>
                {% endif %}

            </div>
        </div><!-- /.container-fluid -->
    </nav>
    {% block content %}
    {% endblock content %}
</div>
</body>
</html>